
<div class="box">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <img src="{{data.thumbnail}}" alt="">
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="info">
                <ul class="list-unstyled">
                    <li><strong>ID : </strong>{{data.id}}</li>
                    <li><strong>title: </strong>{{data.title}}</li>
                    <li><strong>category: </strong>{{data.category}}</li>
                    <li><strong>Decription : </strong>{{data.description}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

